.new{
    background-image: url(images/images1.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    height: 800px; 
    position: relative;
    display: block;
}
 .nav-area li a{
    color: rgb(70, 70, 70);
    text-decoration: none;
    padding: 5px 5px;
    font-size: 13px;
}

.nav-area{
    float: right;
    list-style: none;
    margin-top: 30px;
    margin-left: 950px;
}


.welcome_imag{
    margin-left: 650px;
}

.p_row {
    margin-top: 130px;
}

.txt {
    color:rgb(70, 70, 70) ;
}

.images{
    left: 50%;
    top: 50%;
    position: absolute;
    margin-left: -60px;
}

.wrapper1 {
    padding-top: 110px;
}

.wrapper-desciption{
    padding-top: 150px;
    color: gray;
}
