.new{
    background-image: url(images/images1.png);
    height: 700px;
    width: 100%;
    
    background-repeat: no-repeat;    
}
.nav-area{
    float: right;
    list-style: none;
    margin-top: 20px;
    padding-right: 10px;
}
.nav-area li{
    display: inline-block;
    
}
.nav-area li a{
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 14px;
    margin-right: 5px;
}

.welcome_imag{
    margin-left: 650px;
}


.welcome_text{
    margin-left: 630px;
}
.images{
    margin-left: 40px;
    
}
.images_mixt{
    margin-left: 1500px;
}

.wrapper_text{
margin-left: 650px;
}

.wrapper-desciption{
    margin-left: 850px;
    color: gray;
}
.row-option{
margin-top: auto;
margin-left: 55px;
}
.row-details li{
    color: gray;
}

.row-details{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
      }
